* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #f2f2f2;
  font-size: 1.2rem;
}

.container {
  padding: 2rem 3rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: #f2f2f2;
  background: rgba(255,255,255,0.08);
  border-radius: 20px;
  padding: 2px 8px;
}

.text {
  padding: 3rem 10rem;
  line-height: 2;

  p {
    padding-top: 1rem;
  }
}

.highlight {
  background-color: hsla(178, 41%, 54%, 0.7);
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
